{% extends "registration/base.html" %}
{% load i18n %}
{% load static %}

	{% block css %}
	
	{% endblock css %}

	{% block title %}
	  <title>{% trans "Reset Password" %}</title>
	{% endblock title %}

	{% block bodyreset %}

        <div class="content__body">
			<h2 class="content__text--pay">
				{% trans "Reset Password" %}
			</h2>

			<form method="POST">
                {% csrf_token %} {{ form.as_p }}
                <button class="payForm__btn" type="submit">{% trans 'Change' %}</button>
            </form>
		</div>

	{% endblock bodyreset %}

	{% block js %}
		
	{% endblock js %}