{% extends "registration/base.html" %}
{% load i18n %}
{% load static %}

	{% block css %}
	
	{% endblock css %}

	{% block title %}
	  <title>{% trans "Reset Password" %}</title>
	{% endblock title %}

	{% block bodyreset %}

        <div class="content__body">
			<h2 class="content__text--pay">
				{% trans 'Reset password successfully confirmed' %}
			</h2>

			<p style="color: green;">{% trans "Password changed" %}</p>
		</div>

	{% endblock bodyreset %}

	{% block js %}
		
	{% endblock js %}