{% extends "registration/base.html" %}
{% load i18n %}
{% load static %}

    {% block css %}
        
    {% endblock css %}

    {% block title %}
        <title>{% trans 'Parolni tiklash' %}</title>
    {% endblock title %}

    {% block bodyreset %}

        <p>
            {% trans "Forgotten your password? Enter your e-mail address below, and we'll e-mail instructions for setting a new one. " %}<br>
        </p>

        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">{% trans 'Ok' %}</button>
        </form>

    {% endblock bodyreset %}

    {% block js %}
        
    {% endblock js %}
