{% extends "portfolio/base.html" %}
{% load static %}


    {% block css %}
        
    {% endblock css %}


    {% block title %}
        <title>Contact Form</title> 
    {% endblock title %}



    {% block body %}

        {% include 'portfolio/includes/navbar.html' %}

        {% include 'portfolio/includes/navbar.html' %}
                
    

        {% include 'portfolio/includes/footer.html' %}
    
    {% endblock body %}


    {% block js %}
    
    {% endblock js %}
