{% load static %}

<footer class="footer-section shadow-lg py-5 bg-primary">

    <div class="container">

        <div class="row ">

            <div class="col-sm-12 col-md-6 col-lg-3">
                <h4 class=" mb-4 text-white font-weight-bold"> 
                    <a class="navbar-brand" href="/"> 
                        <img class="rounded" src="https://wallpapercave.com/wp/wp7041166.jpg" width="30" height="30" alt="">
                         online PORTFOLIO
                    </a>
                </h4>

                <ul class="nav">

                    <li class="nav-item">
                        <a class="nav-link text-white" href="#"><i class="fab fa-facebook"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#"><i class="fab fa-twitter"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#"><i class="fab fa-instagram"></i></a>
                    </li>

                </ul>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-3">
                <ul class="nav flex-column ">
                    <li class="nav-item mb-3 ">
                        <p class="nav-link border-bottom  active" href="#">Products</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/">OverView</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Portfolios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Guide</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                    </li>

                </ul>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-3">
                <ul class="nav flex-column ">
                    <li class="nav-item mb-3 ">
                        <p class="nav-link border-bottom  active" href="#">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">about site</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">jobs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">support</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3">
                <ul class="nav flex-column ">
                    <li class="nav-item mb-3 ">
                        <p class="nav-link border-bottom  active" href="#">Contact Info</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">info@onlineportfolio.uz</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">+99899-990-99-99</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">+99899-990-99-99</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">+99899-990-99-99</a>
                    </li>

                </ul>
            </div>


        </div>
    </div>

</footer>