{% extends 'base.html' %}
{% load static %}

    {% block css %}
        
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
            integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        
    {% endblock css %}

    {% block title %} <title> Yo'riqnoma </title> {% endblock title %}

    {% block body %}

        <header class="header-section" style="height: auto;">
            {% include 'includes/navbar_2.html' %}
        </header>

        <section class="container" style="margin-top: 100px; margin-bottom: 50px;">
            <div class="row">
                <div class="col-12 col-lg-8">
                    <h1>Saytdadan foydalanish uchun yuriqnoma</h1>

                    <br><br>
                    <video width="100%" controls>
                        <source src="{% static 'videos/8-Tips-for-Writing-a-Winning-Resume.mp4' %}" type="video/mp4">
                        <!-- <source src="{% static 'videos/8-Tips-for-Writing-a-Winning-Resume.mp4' %}" type="video/ogg"> -->
                        Your browser does not support the video tag.
                    </video>
                    <h4 class="pt-3 pb-3"><i class="text-secondary ">January 21, 2021.</i></h4>
                    <div class="font-weight-bold" style="border-left: 2px solid #0275d8;">
                    <h3 class="pl-4 pt-2 pb-2">
                        Onlayn portfelga ega bo'lish har bir dizayner uchun zarurdir. 
                        Sizning noyob uslubingizni chinakam ifoda etadigan veb-sayt 
                        yaratish uchun o'n qadam.
                    </h3> 
                    </div>
                    <p>Bugungi kunda professional onlayn ishtirok etish dizaynerlar va 
                        ijodkorlar uchun mutlaqo zarurdir. Veb-sayt dizayni bilan 
                        jihozlangan onlayn portfel - bu tashrif qog'ozning zamonaviy 
                        versiyasi, rezyume va loyiha vitrini. Axir, bu sizni yollamoqchi 
                        bo'lgan barcha potentsial mijozlar va ish beruvchilar uchun joy.
                        Portfolio veb-saytini yaratish - bu sizning mahoratingizni 
                        namoyish etadigan va noyob ovozingizni etkazadigan, shu bilan 
                        birga boshqa har qanday ishingiz kabi aniq va professional 
                        ko'rinishga ega bo'lish uchun imkoniyatdir. Kerakli vositalar 
                        yordamida siz texnologik cheklovlar va badiiy kelishuvlardan 
                        chiqib, kuchli onlayn mavjudlikni yaratishingiz mumkin.
                    </p>
                    <p>
                        Boshlash uchun mana shu bilan faxrlanadigan onlayn portfelni 
                        yaratish bo'yicha ko'rsatma mavjud:
                    </p>
                    <h2>Qanday qilib online portfolio yaratish</h2>


                    <ol class="ml-3">
                        <li start="1"><a href="">Ro'yhatdan o'ting </a></li>
                        <li ><a href="">Shablonni tanlang </a></li>
                        <li ><a href="">Eng yaxshi loyihalaringizni namoyish eting  </a></li>
                        <li ><a href="">Yuqori sifatli rasmlardan foydalaning </a></li>
                        <li ><a href="">To'g'ri tarkib va ​​xususiyatlarni qo'shing </a></li>
                        <li ><a href="">Portfelingizning UX-ni yaxshilang </a></li>
                        <li ><a href="">Saytingizning SEO-da ishlang  </a></li>
                        <li ><a href=""> Uni mobil aloqaga moslashtiring  </a></li>
                        <li ><a href=""> Nashr qilish va targ'ib qilish  </a></li>
                    </ol>
                    <h3>01. Ro'yhatdan o'tish</h3>
                    <p>Portfelni yaratish ba'zi bir vizual tadqiqotlar bilan boshlanadi. 
                        Qaysi sohada bo'lishingizdan qat'i nazar, boshqa onlayn portfel 
                        veb-saytlarini tomosha qilish sizga mo'l-ko'l ilhom beradi va dastlabki 
                        g'oyalarni yaratadi. O'zingizning ijodiy joyingiz yoki sohangizdagi 
                        boshqa odamlar tomonidan veb-saytlarni ko'rib chiqish tavsiya etiladi.

                        Portfelni yaratish ba'zi bir vizual tadqiqotlar bilan boshlanadi. 
                        Qaysi sohada bo'lishingizdan qat'i nazar, boshqa onlayn portfel 
                        veb-saytlarini tomosha qilish sizga mo'l-ko'l ilhom beradi va dastlabki 
                        g'oyalarni yaratadi. O'zingizning ijodiy joyingiz yoki sohangizdagi 
                        boshqa odamlar tomonidan veb-saytlarni ko'rib chiqish tavsiya etiladi.
                    </p>

                    <h3>02. Shablonni tanlang </h3>
                    <p>Qanday qilib tashrif buyuruvchilar bir sahifadan ikkinchi sahifaga 
                        o'tishini xohlaysiz? Qo'shimcha ma'lumot olish uchun menyu ochdingizmi 
                        yoki pastga aylantirdingizmi? Sizning saytingiz bitta sahifali veb-sayt 
                        bo'lishini xohlaysizmi yoki alohida sahifalarda ochiladigan to'liq 
                        ekranli tasvirlar galereyasi bo'ladimi? Bu sizning portfel shablonini 
                        tanlab, keyingi bosqichda o'zingizga beradigan savollar.

 

                        Borishga tayyor bo'lgach, ijodkorlar uchun ushbu portfel shablonlarini 
                        ko'rib chiqing. Siz tasavvur qilgan natijaga o'xshash narsalarni topishingiz 
                        mumkin, bu holda siz uni sozlashingiz va o'zingizniki qilishingiz mumkin 
                        bo'ladi. Agar siz bo'sh tuvaldan boshlashni xohlasangiz, har doim 
                        veb-saytingizni noldan yaratishingiz va o'zingizni Internetda ifoda 
                        etish uchun to'liq erkinlikdan bahramand bo'lishingiz mumkin.
                    </p>
                    
                    <h3>03. Eng yaxshi loyihalaringizni namoyish eting</h3>
                    <p>Sizning haqiqiy ishingiz sizning onlayn portfelingizning asosiy qismidir, 
                        shuning uchun uni eng yaxshi tarzda namoyish etishga ishonch hosil qiling.
                         U ajralib turishi va uy sahifasi va / yoki veb-sayt menyusi orqali osongina
                          ulanishi kerak. Ushbu ishni veb-saytingizda maxsus "loyihalar" sahifasini 
                          yaratish orqali ta'kidlashingiz mumkin.

                        Faqatgina eng yaxshi ishlaringizni baham ko'rish orqali mijozlarni o'zingizning 
                        ijodingiz va mahoratingiz bilan tanishtiring. Shunday qilib, siz ularning 
                        e'tiborini kuchli tomonlaringizga jalb qilasiz va portfelingiz davomida 
                        doimiy sifat darajasini saqlaysiz.
                        
                        O'zingizning eng yaxshi ishingizni taqdim etish bilan bir qatorda, har doim eng 
                        so'nggi ijodlaringiz bilan o'rtoqlashishingiz uchun veb-saytingizni vaqti-vaqti 
                        bilan yangilab turing. Bu tashrif buyuruvchilarga sizning faol, ishlayotganingiz
                         va tajribangiz borligini ko'rsatadi. Onlayn portfelni yaratishda, yangilanishi
                          oson bo'lgan portfelni qanday qilib yaratishingiz mumkinligini ko'rib chiqing, 
                          bu sizning borishingiz bilan yangi loyihalarni qulay tarzda qo'shishingizga 
                          imkon beradi.
                    </p>
                    <h3>04. Yuqori sifatli rasmlardan foydalaning </h3>
                    <p>
                        Nafaqat fotosurat portfellari yuqori sifatli tasvirlarni talab qiladi. Sizning 
                        ishingiz haqiqiy hayotda bo'lgani kabi Internetda ham ta'sirchan ko'rinishini 
                        ta'minlash uchun ishingizni, jarayoningizni va mahsulotingizni suratga olish 
                        uchun vaqt va kuch sarflang. Professional fotosessiyani amalga oshirish mumkin 
                        bo'lmagan holatlarda, o'zingizning ingl. Sizning rasmlaringizni namoyish 
                        qilayotganda Wix Pro galereyasi sizga moslashtirilgan maketlar, tahrirlashlar 
                        va effektlar bilan professional ko'rinishni taqdim etadi.
                    </p>
                    <h3>05. To'g'ri tarkib va ​​xususiyatlarni qo'shing</h3>
                    <p>
                        Siz yo'lga chiqishingiz mumkin bo'lgan yaxshi bazaga va namoyish etishga tayyor 
                        bo'lgan loyihalar to'plamiga ega bo'lgandan so'ng, o'zingizning onlayn 
                        portfelingizga qaysi qo'shimcha tarkibni kiritishni va uni qanday qilib strategik 
                        jihatdan taqdim etishni aniqlash vaqti keldi. Bunga matn, rasm va boshqa ommaviy
                         axborot vositalari kiradi. Siz sanoat dizayni portfelini, grafik dizayn portfelini 
                         yoki boshqa har qanday turdagi portfelni yaratmoqdamisiz - bu erda eng muhim 
                         sahifalar va bo'limlar, shuningdek sizning saytingizda amalga oshirishni 
                         o'ylaydigan ba'zi professional dizayn xususiyatlari mavjud:
                    </p>
                    <p><strong>Bosh sahifa:</strong> 
                        Portfelingizning virtual uyi sizning tashrif buyuruvchilaringizning e'tiborini 
                        o'ziga jalb etadigan dizayni bilan jalb qilishi kerak. Vizual jihatning ustiga, 
                        sizning uy sahifangiz potentsial mijozlar va ish beruvchilarning qiziqishini 
                        kuchli kirish so'zi bilan qo'zg'atish imkoniyatidir. O'zingizni kimligingizni 
                        va nima qilayotganingizni aniq ko'rsatib, qisqa va shirin qiling. Bu erda 
                        sizning biografik ma'lumotlaringizni kiritishga hojat yo'q (bu sizning 
                        "Haqingizda" sahifangiz uchun mo'ljallangan), ammo sizning ismingiz va asosiy 
                        mutaxassislik sohangiz mutlaqo kerak.
                        
                        Sizning uy sahifangiz tashrif buyuruvchilarning navigatsiyasi uchun boshlang'ich 
                        nuqta va asos bo'lib xizmat qilganligi sababli, topilishi oson bo'lgan va 
                        foydalanuvchilarni saytingizdagi kerakli joyga aniq yo'naltiradigan narsalar
                         menyusini ham qo'shib qo'ying.
                    </p>
                </div>
            </div>
        </section>

        {% include 'includes/footer.html' %}

    {% endblock body %}

    {% block js %}

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script src="{% static 'js/index.js' %}" async defer></script>

    {% endblock js %}
